Hi,
@using System.Web
@HttpContext.Current.Request.Cookies["Auth"].Values["AuthUser"]

<br>
<input type="button" value="Log off" onclick="location.href='@Url.Action("Logoff", "Accaunt")'" class="btn btn-default" id="logoff" />
<input type="button" value="Edit accaunt" id="editClient" onclick="" class="btn btn-default" />

@*@section Main
	{
	@Html.Action("ShowProducts")
}
@section Navigate
	{
	<div id="navigate">
		@{
			Html.Action("Navigate");
		}
	</div>

}*@