@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Main
{
	<div id="centre" class="col-xs-9" align="center">
		<p>
		Sales and Marketing: two terms we oftern hear together when working with mid-size companies. In some ways, this is logical because the two need to work together. But in fact, Sales and Marketing are two very different functions and require very different skills.

		Business leaders know what Operations is; they make stuff. They know what Accounting is; they record and control the money. And they know what Sales does; they sell stuff. So if you are not making stuff, selling stuff, or recording the money—what is marketing and why do you need it?
		Want to build your marketing team for growth? Discover the four questions for every B2B venture CEO.


		What's the difference between Sales and Marketing?
		To answer this question, let's define what Sales and Marketing are separately and how they support one another.

		What is Sales? Selling What’s in Stock
		Sales is the team whose job it is to “sell what’s in stock”. The company has specific products or services and—and it's up to Sales to sell those things. Sales develops relationships with customers and/or channel partners. They knock down the doors, overcome objections, negotiate prices and terms and often work internally to be sure their customer’s orders are filled.

		The perspective of Sales is from inside the company out toward the customers and their horizon is focused on this week, this month, and this quarter. If sales is not focused on the now, then there may not be any revenue this week, month, or quarter.

		What is Marketing? Aligning with Customers, Now and for the Future
		A key job of Marketing is to understand the marketplace from the perspective of the customer looking back towards the company and helping lead the company where it should be in the future. Marketing’s job is to direct the organization toward the segments, or groups of customers and channels where the company can profitably compete. It should help the organization see how it needs to modify its product offerings, pricing, and communication so that it meets the needs of the distribution channel or end customers. (This is a function of your market positioning strategy.)

		Marketing also needs to convert the market understanding into tools and tactics to attract the market, build (often digital) relationships, and develop leads. WIthout Sales, Marketing efforts run short. Marketing directs Sales as to where they should be hunting and what ammo to use. Note, however, that if Marketing becomes a sales support function focused only on the now, the future can become lost.

		Without Marketing, Sales Suffers
		Not even the best hunter can bring home dinner if they are shooting blanks at decoys. Markets are constantly changing. The job of marketing is to stay ahead of the changes, and help the hunters see where they should be hunting and provide them with the right ammunition. If Marketing is only focused on delivering the ammunition for today, nobody will see where the industry is moving or where the company needs to hunt next. This limits growth not only for Sales and Marketing, but also for your entire organization.

		Can You be Both Sales and Marketing?

		In all my years, working for companies that ranged from Fortune 100 to mid-size companies I have never met anyone who was really good at both sales and marketing. I have held the title of VP of Sales and Marketing, managing a 500 person sales and merchandising force. I was really a marketing person with sales authority. The skills required to focus on the now and the push of sales are different. In many ways, they are contrary to the skills of looking to the future and the customer perspective of marketing.

		Every Sales organization feels they have a good understanding of their customers. But every Sales conversation with a customer has a sales transaction lurking in the background. Therefore, customers can never be completely open about their needs and wants when talking to a sales person.

		For a company to really grow, someone must have the job of looking out the window towards where the company needs to go in the future. For many companies, this is the job of the CEO and Sales hires someone to do some sales support and gives them a marketing title. But as companies grow, the job of CEO starts to become a full time job in itself and the strategic role of Marketing gets short changed. A study of mid-size companies by the University of Texas showed that companies who separated the roles of Marketing and Sales were much more likely to grow faster than the industry average. (Let us know if we can help you develop a powerful new business growth strategy.)

		Sales and Marketing: Today and the Future
		Sales needs to be focused on the now. You can’t run a company unless your sales team is focused on bringing in today’s business. But you can’t really ask your Sales leaders where the company should go next and to develop the 18 month plan to get there without losing focus on today’s revenue. Besides, if your sales executive was really good at developing future-focused business strategies and tying that strategy to the plans and tools of marketing to make it happen, they would be a marketing person and not a now-focused sales person.
		</p>
	</div>
}

